// mobile first
.main-app .main-layout {
    display: flex;
  }
  
  .side-bar {
      display: none;
    }
    
  
    // medium screen 
    @media (min-width: 770px) {
      .side-bar {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #dedede;
        flex: 0 0 75px;
      }
      .main-side-bar {
        position: fixed;
        margin-top: 37px;
        margin-left: 26px;
      }
      .side-bar-icons {
        margin-top: 49px;
      }
      .section {
        margin-bottom: 26px;
      }
       .desc-logo {
        display: none;
      }
      .desc {
        display: none;
      }
    }
    
    
    @media (min-width: 1265px) {
      .side-bar {
        flex: 0 0 245px;
      }
      .main-side-bar {
        margin-top: 43px;
      }
      .side-bar-logo {
        display: inline;
      }
      .inst-logo {
        display: none;
      }
      .desc-logo {
        display: inline;
        font-size: 23px;
      }
      .desc {
        display: inline;
        margin-left: 17px;
      }
    }
    
  
    // wide screen!!!!
    @media (min-width: 1900px) {
      .side-bar {
        flex: 0 0 336px;
      }
    }
    
  