.modal {
    position: fixed;
    width: 400px;
    height: 440px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
}

.option {
    border-bottom: 1px solid #c4bebe;
    padding: 20px;
    height: 48px;
    font-size: 14px;
}

.modal.editor {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.645);
    border-radius: 0px;
    padding: 9.5vh 32.5vh;

    .editor {
        position: flex;

        width: 62.9vw;
        height: 81vh;
        //    margin-top: 7.3vh;
        //    margin-left: 17vw;
        border-radius: 15px;
        background-color: aliceblue;
    }

    .editor-main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        .img-editor {
            width: 50%;
        }

        
        

    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        padding: 0 5px;
        border-bottom: 1px solid #dbdbdb;

        a {
            padding: 8px;
            cursor: pointer;

            i {
                font-size: 26px;
                color: #2a2a2a;
            }
        }

        span {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }

        .share-btn {
            font-size: 14px;
            font-weight: 600;
            color: #0095f6;

            &:hover {
                color: #00376b;
            }
        }
    }
}



textarea {
    border: none;
    font-size: 16px;
    width: 95%;
    height: 200px;
    resize: none;
    display: flex;

    &:focus {
        outline: none;

    }
}


