
// app-header carousel-wrapper carousel-root carousel carousel-slider control-dots control-arrow control-prev slider-wrapper axis-horizontal slider animated slide img-preview
.story-list{
    padding-top: 37px;
  
  }
  
  @media (min-width:1900px) {
    
    .main-content {
        margin-left: 18.7vw;
        // flex-direction: column;
        // display: flex;
        flex: 0 0 630px; 
       
      }
      
      
    }
    
    @media (min-width: 1265px) {
      .main-content {
  
        margin-left: 18.7vw;
      }
  }
  
  .story-list {
      width: 505px;
      list-style: none;
      flex: 0 0 337px;     
    }
  
   
    
    .story-list {
      width: 468px;
    }
    
  
    
    // @media (max-width: 1260px) {
      
    
    //   .story-list {
    //     width: 100%;
    //   }
    // }
  //   .side-bar {
  //     display: flex;
  //     flex-direction: column;
  //     margin-top: 20px ;
  //     border-right: 1px solid #dedede;
        
  //       flex: 0 0 333px; 
  //     }
  
  //     .side-bar-logo {
  //       margin-left: 22px;
  
  //       font-size: 11px;
  
  //     }
  
  //     .side-bar-icons {
  //       margin-top:52px ;
  //     }
  //     .side-bar .section {
  //       margin-bottom: 31px;
  
  //     }
      
      
  //     .side-bar-icon {
  //       margin-left: 23px;
  //       margin-right: 19px;
  //       font-size: 22px;
        
  //     }