
.stories{
    padding-top: 37px;
    margin-left: 16.6vw;
    width: 470px;

  
  }
  
  @media (min-width:1900px) {
    
  }
    
    @media (min-width: 1265px) {
     
  }
  
  .storeis {
      width: 505px;
      list-style: none;
      flex: 0 0 337px;     
    }
  
 