
// app-header carousel-wrapper carousel-root carousel carousel-slider control-dots control-arrow control-prev slider-wrapper axis-horizontal slider animated slide img-preview
.story-list{
    padding-top: 37px;
  
  }
  
  @media (min-width:1900px) {
    
    .main-content {
        margin-left: 18.7vw;
        // flex-direction: column;
        // display: flex;
        flex: 0 0 630px; 
       
      }
      
      
    }
    
    @media (min-width: 1265px) {
      .main-content {
  
        margin-left: 18.7vw;
      }
  }
  
  .story-list {
      width: 505px;
      list-style: none;
      flex: 0 0 337px;     
    }
  
   
    
    .story-list {
      width: 468px;
    }
    
  
    
