* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: Circular-Regular, sans-serif;
    // line-height: 1.6;
    color: $clr2;
}

body {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Circular-Regular, sans-serif;
    color: $clr2;
    line-height: 1;
}

button {
    @include btn();
}

img {
    width: 100%;
   
}

span {
    font-family: Circular-Light;
    color: $clr7;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}