.story-index-container {
    display: flex;
    
  }
  
  .details-header {
      margin: auto;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .options-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .options-list li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .options-list li:hover {
    background-color: #f0f2f5;
  }