@font-face {
    font-family: Circular-Bold;
    src: url(../../../../../frontend/src/assets/styles/fonts/Circular/CircularStd-Bold.otf);
}

@font-face {
    font-family: Circular-Medium;
    src: url(../../../../../frontend/src/assets/styles/fonts/Circular/CircularStd-Medium.otf);
}

@font-face {
    font-family: Circular-Regular;
    src: url(../../../../../frontend/src/assets/styles/fonts/Circular/CircularStd-Book.otf);
}

@font-face {
    font-family: Circular-Light;
    src: url(../../../../../frontend/src/assets/styles/fonts/Circular/CircularStd-Light.otf);
}

// @font-face {
//     font-family: Roboto-Regular;
//     src: url(../../../../../frontend/src/assets/styles/fonts/Roboto/Roboto-Regular.ttf);
// }